@import url("./header.css");
@import url("./settings.css");
@import url("./box.css");
@import url("./info.css");

body {
	margin: 0px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
}

main {
	display: flex;
	position: relative;

	justify-content: space-around;
	flex-flow: row wrap;
	align-content: flex-start;

	flex-grow: 1;

	padding-top: 2%;

	/* background-color: red; */
}

button.inset {
	border-style: 1px white inset;
}

main ~ article {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: darkgrey;
	z-index: 4;
	display: none;
}
