.box {
	display: flex;
	flex-flow: row;
	background-color: #454545;
	width: 12rem;
	height: 2rem;
	margin-bottom: 10px;
	align-items: center;
	justify-content: space-between;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
		rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	transition: all 0.4s ease-in-out;

	cursor: pointer;
}

.box:hover {
	transform: scale3d(1.0069, 1.0069, 1) translate(0px, -3px);
}

.handle {
	color: grey;
	padding-right: 3px;
	padding-left: 3px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
		rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
		rgba(0, 0, 0, 0.09) 0px 32px 16px;

	border-right: white 0.69px groove;
	cursor: grab;
	font-size: 2rem;
}

.handle:active {
	cursor: grabbing;
}

.handle > i {
	display: block;
}

.shake {
	animation: shake 0.69s;
	animation-iteration-count: infinite;
}

.selection-slider {
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
		rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
		rgba(0, 0, 0, 0.07) 0px 16px 16px;
	width: 6%;
	border: 2px rgba(3, 102, 214, 0.3) groove;
	height: 100%;
	cursor: pointer;
	transition: background-color 1s ease-in-out;
}
.selection-slider:hover {
	border: 2px rgba(3, 102, 214, 0.69) solid;
}
.selection-slider:active {
	border-style: inset;
}

.selected-slider {
	background-color: palevioletred;
}

.bye {
	animation-name: hi;
	animation-duration: 1.3s;
	animation-fill-mode: forwards;
	animation-direction: reverse;
}

.roam {
	animation: roam 1.3s;
	animation-iteration-count: infinite;
}

@keyframes shadow-pop-tr {
	0% {
		-webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
			0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
		box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
			0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
			4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e,
			7px -7px #3e3e3e, 8px -8px #3e3e3e;
		box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
			4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e,
			7px -7px #3e3e3e, 8px -8px #3e3e3e;
		-webkit-transform: translateX(-8px) translateY(8px);
		transform: translateX(-8px) translateY(8px);
	}
}

.box > div.content {
	padding: 3px;
	overflow-x: auto;
}

.box > i {
	padding-left: 2px;
}
