@import url("./animations.css");
@import url("./form.css");

footer,
header {
	color: white;
	background-color: #343434;
	display: flex;
}

header > section > article {
	color: white;
	text-align: center;
	transition: all 1.2s ease-in-out;
	margin: auto 2%;
	box-sizing: border-box;
}
