footer > article {
	position: absolute;
	top: 22%;
	width: 45%;
	height: 45%;
	left: 27.5%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	z-index: 5;
	opacity: 0;
	display: none;
}

article > header {
	display: flex;
	justify-content: flex-start;
}

article > header > span {
	flex-grow: 1;
	text-align: center;
}

footer > article {
	background-image: linear-gradient(
		315deg,
		hsl(24deg 100% 38%) 1%,
		hsl(24deg 100% 39%) 36%,
		hsl(24deg 100% 41%) 45%,
		hsl(24deg 100% 42%) 49%,
		hsl(24deg 100% 43%) 51%,
		hsl(24deg 100% 44%) 52%,
		hsl(25deg 100% 45%) 52%,
		hsl(25deg 100% 46%) 52%,
		hsl(24deg 98% 44%) 52%,
		hsl(22deg 96% 40%) 51%,
		hsl(20deg 96% 35%) 51%,
		hsl(18deg 96% 30%) 51%,
		hsl(18deg 95% 33%) 53%,
		hsl(19deg 95% 38%) 56%,
		hsl(20deg 95% 44%) 62%,
		hsl(21deg 96% 49%) 87%
	);
}
